/* NOTE: The bulk of these styles assume a
         screen width of <40em - Mobile browser
         sized!
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Customise Colours, lines and fonts.
 */
body {
    /* spaces intro text out much more */
    line-height: 1.7em;
    font-family: "minion-pro","Segoe UI","Helvetica Neue","Noto Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
label
a  {
    color: #deb8bd;
    font-family: "Verlag","Segoe UI","Helvetica Neue",Arial,"Noto Sans";
}



/*
 * -- MENU STYLES --
 * 
 */

.nav {
    padding: 0.5em;
    
    text-align: center;
    background: #183329;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
}

.nav a {
    color: #deb8bd;
}
.nav li a:hover,
.nav li a:focus {
    /* needed otherwise the box lights up */
    background: none;
    border: none;
    color: #423645;
}


.hero-container {
    background: #183329;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
/* keep it below the nav, otherwise it underlaps */
    top: 100; 
    left: 0;
    position: absolute !important;

}

div.hero-text {
    max-width: 600px;
    padding: 30px;
}

.hero-img {
    display: block;
    max-width: 900px;
    /* we want the bottom of the portrait to align with the bottom of the section */
    margin-bottom: -30px
}


/* This is the subheading that appears on the blue section */
p.hero-text {
    color: #deb8bd;
    opacity: 0.8;
    font-size: 18px;

}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* We can align the logo to the left, but float the
    menu items to the right */
    .nav {
        text-align: left;
    }
        .nav ul {
            float: right;
            padding-right: 16px;
            font-family: "Verlag","Segoe UI","Helvetica Neue",Arial,"Noto Sans";
            font-weight: 500;
        }

}
